.song-header {
    padding: dm(16) dm(34);
    border-bottom: dm(1) solid rgba(0, 0, 0, 0.06);
    .breadcrumb {
        margin-bottom: dm(16);
        .breadcrumb-item {
            list-style: none;
            a {
                text-decoration: none;
                font-size: fs(14);
                font-style: normal;
                font-weight: 400;
                line-height: lh(22);
                color: $black-45;
            }
            .active {
                a {

                    font-size: fs(14);
                    font-style: normal;
                    font-weight: 400;
                    line-height: lh(22);

                }
            }
            &::before {
                // font-size: fs(30);

            }

        }
    }
}
.song-right-mainsection {
    // position: relative;
    height: 100%;
    padding-bottom: dm(80);
}
.song-table {
    width: 100%;
    .thable-header-row {
        th {
            padding: dm(40) 0 dm(20);
            font-size: fs(14);
            line-height: lh(22);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.85);
            text-align: start;
            &:first-child {
                padding-left: dm(42);
                width: 30vw;
            }
            &:nth-child(2) {
                width: 20vw;
            }
            &:nth-child(3) {
                width: 20vw;
            }
            &:nth-child(4) {
                width: 20vw;
            }
            &:last-child {
                width: 10vw;
                img {
                    padding: 0 dm(10);
                }
            }
        }

    }
    .table-body-row {
        td {
            padding: 0;
            height: dm(72);
            font-size: fs(14);
            line-height: lh(22);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.85);
            text-align: start;
            &:first-child {
                padding-left: dm(15);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                gap: dm(19);
                img {
                    width: dm(71);
                    object-fit: cover;
                }
            }
            &:nth-child(2) {
                width: 20vw;
            }
            &:nth-child(3) {
                width: 20vw;
            }
            &:nth-child(4) {
                img {
                    width: dm(40);
                    cursor: pointer;
                }
            }
            &:last-child {
                width: 10vw;
                img {
                    width: dm(16);
                    margin: 0 dm(10);
                    cursor: pointer;
                }
            }
        }

    }
}
.song-play-box {
    position: fixed;
    z-index: 9;
    background-color: $white;
    bottom: 0;
    right: 0;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .song-actions {
        height: dm(71);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .song-name-image {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: dm(5);
            .song-image{
                width: dm(70);
            }
        }
        .play-song-frame {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: dm(18);
            padding-right: dm(23);
            img {
                cursor: pointer;
            }
            .back-btn,
            .next-btn {
                width: dm(22);
            }
            .play-btn {
                width: dm(25);
            }
        }
    }

}


.video-range{
    -webkit-appearance: none;
    width: 100%;
    height: dm(5);
    background: #ccc;
    border-radius:dm(1);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: dm(20);
        height: dm(20);
        background: $yellow-FD8;
        border: dm(2) solid $yellow-FD8;
        border-radius: 50%;
        cursor: pointer;
    }
    // &::before {
    //     content: '';
    //     height: dm(5) !important;
    //     width: 60%; /* Change this value to set the filled range */
    //     height: 100%;
    //     background: #191a1b; /* Change this color to your desired filled color */
    //     position: absolute;
    //     border-radius: dm(1);
    // }
}