.song-header {
    padding: dm(16) dm(34);
    border-bottom: dm(1) solid rgba(0, 0, 0, 0.06);
    .breadcrumb {
        margin-bottom: dm(16);
        .breadcrumb-item {
            list-style: none;
            a {
                text-decoration: none;
                font-size: fs(14);
                font-style: normal;
                font-weight: 400;
                line-height: lh(22);
                color: $black-45;
            }
          .active{
            a{
                
                font-size: fs(14);
                font-style: normal;
                font-weight: 400;
                line-height: lh(22);
                 
            }
          }
          &::before{
            // font-size: fs(30);
            
          }

        }
    }
}
.song-right-mainsection{
    position: relative;
    height: 100%;
}
.song-table{
    width: 100%;
    .thable-header-row{
        th{
            padding:dm(40) 0 dm(20) 0;
            font-size: fs(14);
            line-height: lh(22);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.85);
            text-align: start;
            &:first-child{
                padding-left: dm(42);
                width: 30vw;
            }
            &:nth-child(2){
                width: 20vw;
            }
            &:nth-child(3){
                width: 20vw;
            }
            &:nth-child(4){
                width: 20vw;
            }
            &:last-child{
                width: 10vw;
                img{
                    padding: 0 dm(10);
                }
            }
        }
        
    }
    .table-body-row{
        td{
            padding:0;
            height: dm(72);
            font-size: fs(14);
            line-height: lh(22);
            font-weight: 500;
            color: rgba(0, 0, 0, 0.85);
            text-align: start;
            &:first-child{
                padding-left: dm(15);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                gap: dm(19);
                img{
                    width: dm(71);
                    object-fit: cover;
                }
            }
            &:nth-child(2){
                width: 20vw;
            }
            &:nth-child(3){
                width: 20vw;
            }
            &:nth-child(4){
                img{
                    width: dm(40);
                    cursor: pointer;
                }
            }
            &:last-child{
                width: 10vw;
                img{
                    width: dm(16);
                    margin: 0 dm(10);
                    cursor: pointer;
                }
            }
        }
        
    }
}
.song-actions{
    position: absolute;
    bottom: 0;
    left: 0;
}