@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// =============== COLOR CSS ======================
.primary {
    color: $primary;
}
.pointer {
    cursor: pointer !important;
}
.blue-189 {
    color: #1890FF;
}
.primary-btn {
    border-radius: dm(12);
    background: $primary;
    padding: dm(15) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: dm(18);
    line-height: dm(21);
    font-weight: bold;
    outline: none;
    border: none;

}
.second-btn {
    border-radius: dm(2);
    background: #FDB927;
    padding: dm(9) dm(16);
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 dm(2) 0 0 rgba(0, 0, 0, 0.04);
    &:hover{
        background: rgba(253, 185, 38,.6);
    }
}
.mb-13 {
    margin-bottom: dm(13) !important;
}
.mt-16 {
    margin-top: dm(15) !important;
}
// =============== COLOR END ======================
// 
// 
// 
// 
// 
// 
// 
// 
// 
// ?===================== LAYOUT CSS START ==================
.side-nave-bar {
    width: 20vw;
    list-style: none;
    background: #FFF;
    box-shadow: dm(-1) 0 0 0 rgba(0, 0, 0, 0.05) inset;

    li {
        padding: 0 dm(24);
        height: dm(40);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        gap: dm(10);
        &:first-child {
            height: dm(104);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: dm(20);

        }

    }
    .active {
        background: var(--daybreak-blue-1, #E6F7FF);
        border-right: dm(3) solid #1890FF;
    }
}
.layout-right-main-wrapper {
    width: 80vw;
}
// ?===================== LAYOUT CSS END ==================
